<div class="list-group users-container" mb-scrollbar>
    <a href="#" class="list-group-item repeated-item" ng-repeat="user in users">
        <div class="user-name">
            <img src="../img/avatar.jpg" class="img-circle img-user">
            <span class="user-name">{{user.name}}</span>        
        </div>
    </a>    
</div>
<hr/>
<div class="input-group">
    <input type="text" class="form-control" ng-model="userName" placeholder="Nombre nuevo jugador">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="addUser()">Agregar</button>
    </span>
</div>